<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="POST">
        <div>
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="name" class="form-control" name="name">
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="username" class="form-control" name="username">
        </div>

        <div class="form-group">
            <label>Pronouns</label>
            <input type="pronouns" class="form-control" name="pronouns">
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="city" class="form-control" name="city">
        </div>

        <div class="form-group">
            <label>State</label>
            <input type="state" class="form-control" name="state">
        </div>

        <div class="form-group">
            <label>Experience Level</label>
            <select name="experience">
            <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
                <option value="professional">Professional</option>


            </select>
        </div>



        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
